<html>
<head>
  <meta charset="utf-8">
</head>
<title>MongoDBzão!</title>
<body>
  <form name="add" action="{{ url_for('pulling') }}" method="POST">
      <input type="submit" value="Query 6 results" name="requested" />
  </form>
  <form name="delet" action="{{ url_for('delete') }}" method="POST">
      <input type="submit" value="Clear all" name="deleted" />
  </form>
  <br><br>
  <h4> Total de {{ count }} registros!</h4>
  <h4> Nomes registrados: </h4>
  <ul>
    {% if count == 0 %}
      Nenhum registro!
    {% endif %}
    {% for name in names %}
    <ol> {{name}} </ol>
    {% endfor %}
  </ul>
  <h4> Emails registrados: </h4>
    <ul>
      {% if count == 0 %}
        Nenhum registro!
      {% endif %}
      {% for email in emails %}
      <ol> {{email}} </ol>
      {% endfor %}
    </ul>
  <h4> Data: </h4>
  <ul>
    {% if count == 0 %}
      Nenhum registro!
    {% endif %}
    {% for d in data %}
    <ol> {{ d }} </ol>
    {% endfor %}
  </ul>
</body>
</html>
